
.text-upper {
    text-transform: uppercase;
}

.container-flush {
    width: 100%;
    height: 300px;
    overflow-y: scroll;
    padding: 0;
}

.container-flush pre {
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0;
    padding: 10px;
    font-size: 1em;
}