.mov {
 width:700px;
 height:600px;
 border: 1px solid; /* As 4 bordas sólidas com 25px de espessura */
 // border-color: #f00  /* #0f0 #00f #fc0; cores: topo, direita, inferior, esquerda */
}
.fonteazul {
    font-size: 9px; 
    color: #2F4F4F
}
.corvermelha {
    font-size: 9px;
    color: #FF3030;
}
.telefonia {
    margin-left: 200px;
	}
