                <table class="table" border="1">
                    <thead>
                        <tr>
                            <th>Insumo</th>
                            <th>Quantidade</th>
                            <th>Unidade</th>
                            <th>Observacao</th>
                            <th>Tarefa</th>
                            <th>Resumo Tarefa</th>                            
                        </tr>
                    </thead>
                    <tbody>
                        {foreach from=$lista_ostarefainsumo item="linha"}  
                            <tr>
                                <td>{$linha.dsInsumo}</td> 
                                <td>{$linha.qtInsumo}</td> 
                                <td>{$linha.dsUnidade}</td> 
                                <td>{$linha.dsObservacao}</td> 
                                <td>{$linha.dsTarefa}</td> 
                                <td>{$linha.dsObservacaoTarefa}</td> 
                            </tr>
                        {/foreach}        
                    </tbody>
                </table>

