                <table class="table"  border="1">
                    <thead>
                        <tr>
                            <th>Maquina</th>
                            <th>Quantidade</th>
                            <th>Unidade</th>
                            <th>Observacao</th>
                            <th>Tarefa</th>
                            <th>Resumo Tarefa</th>                            
                        </tr>
                    </thead>
                    <tbody>
                        {foreach from=$lista_ostarefamaquina item="linha"}  
                            <tr>
                                <td>{$linha.dsMaquina}</td> 
                                <td>{$linha.qtHoras}</td> 
                                <td>{$linha.dsUnidade}</td> 
                                <td>{$linha.dsObservacao}</td> 
                                <td>{$linha.dsTarefa}</td> 
                                <td>{$linha.dsObservacaoTarefa}</td> 
                            </tr>
                        {/foreach}        
                    </tbody>
                </table>
