                <table class="table" border='1'>
                    <thead>
                        <tr>
                            <th>Tarefa</th>
                            <th>Detalhes</th>
                            <th>Digitado em</th>
                            <th>Digitado por</th>
                            <th>Inicio da Tarefa</th>
                            <th>Fim da Tarefa</th>
                        </tr>
                    </thead>
                    <tbody>
                        {foreach from=$listatarefasdatarefa item="linha"}  
                            <tr>
                                <td>{$linha.dsTarefa}</td> 
                                <td>{$linha.dsObservacaoTarefa}</td> 
                                <td>{$linha.dtDigitado}</td> 
                                <td>{$linha.dsUsuario}</td> 
                                <td>{$linha.dtInicio}</td> 
                                <td>{$linha.dtFim}</td> 
                            </tr>
                        {/foreach}        
                    </tbody>
                </table>
