{include file="comuns/head.tpl"}
<div id="wrapper">
    <!-- Sidebar -->
    {include file="comuns/sidebar.tpl"}    
    <div id="page-wrapper">
        <!--Altere daqui pra baixo-->
        <h1>Relat&oacute;rio de Usu&aacute;rios</h1>
      
        <form name="frm_relatorio_pre" action="/usuarios/relatorio001" method="POST" enctype="multipart/form-data">
            <input type="submit" value="Gerar relat&oacute;rio" name="btnGerar" class="btn btn-success" />
        </form>

        <!--Altere daqui pra cima-->
    </div>
</div>

<!-- JavaScript -->
<script src="/files/js/jquery-1.10.2.js"></script>
<script src="/files/js/jquery_ui/js/jquery-ui-1.10.4.custom.min.js"></script>
<script src="/files/js/bootstrap.js"></script>
<script src="/files/js/usuarios/relatorio001_pre.js"></script>
{include file="comuns/footer.tpl"}
