{include file="comuns/head.tpl"}
<div id="wrapper">
    <!--Sidebar -->
    {include file="comuns/sidebar.tpl"}    
    <div id="page-wrapper">
        <!--Altere daqui pra baixo-->
        <br>
        <h1>Lista de Mao de Obra</h1>
        <br>
        <div class="panel panel-default">            
            <div class="panel-footer">
                <form name="frm-busca-maoobra" action="/maoobra/busca_maoobra" method="POST" enctype="multipart/form-data">
                    Descrição:
                    <div class="input-group">
                        <input type="text" class="form-control" id="buscadescricao" name="buscadescricao" value="{$buscadescricao|default:''}" >
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="submit">Buscar</button>
                            <br>
                            <br>
                        </span>          
                    </div>
                </form>
            </div>
        </div>
        <br>
        <a class="btn btn-primary" href="/maoobra/novo_maoobra"> Nova Mao de Obra</a>
        <br>       
        <br>
        <br>
        <table class="table table-striped" border="1">
            <thead>
                <tr>
                    <th>Código</th>
                    <th>Nome da Mao de Obra</th>
                    <th>Tipo de Mao de Obra</th>
                    <th>Unidade</th>
                    <th>Valor Unitário</th>
                    <th>Ação</th>
                </tr>
            </thead>
            <tbody>
                {foreach from=$maoobra_lista item="linha"}  
                <tr>
                    <td><a href="/maoobra/novo_maoobra/idMaoObra/{$linha.idMaoObra}">{$linha.idMaoObra}</a></td>
                    <td>{$linha.dsMaoObra}</td> 
                    <td>{$linha.dsTipoMaoObra}</td> 
                    <td>{$linha.dsUnidade}</td> 
                    <td>{$linha.vlUnitario}</td> 
                    <td><a class="glyphicon glyphicon-pencil" href="/maoobra/novo_maoobra/idMaoObra/{$linha.idMaoObra}">  Editar</a> |  
                        <a class="glyphicon glyphicon-trash" href="/maoobra/delmaoobra/idMaoObra/{$linha.idMaoObra}">  Excluir</a></td>
                </tr>
                {/foreach}        
            </tbody>
        </table>
        <!--Altere daqui pra cima-->
    </div>
</div>
<!-- JavaScript -->
<script src="/files/js/jquery-1.10.2.js"></script>
<script src="/files/js/bootstrap.js"></script>
{include file="comuns/footer.tpl"}
