        <table class="table table-striped" border="1">
            <thead>
                <tr>
                    <th>Data</th>
                    <th>Mudança</th>
                    <th>Usuário</th>
                    <th>Observação</th>
                    <th>Origem</th>
                </tr>
            </thead>
            <tbody>
                {foreach from=$fase_listastatus item="linha"}  
                <tr>
                    <td>{$linha.dtMudanca|date_format:'%d/%m/%Y'|default:Date("d/m/Y")}</td> 
                    <td>{$linha.dsStatusProjeto}</td> 
                    <td>{$linha.dsUsuario}</td> 
                    <td>{$linha.dsObservacao}</td> 
                    <td>{$linha.dsOrigemInformacao}</td> 
                </tr>
                {/foreach}        
            </tbody>
        </table>