{include file="comuns/head.tpl"}
<div id="wrapper">
    <!--Sidebar -->
    {include file="comuns/sidebar.tpl"}    
    <div id="page-wrapper">
        <!--Altere daqui pra baixo-->
        <br>
        <h1>Lista de Insumos</h1>
        <br>
        <div class="panel panel-default">            
            <div class="panel-footer">
                <form name="frm-busca-insumo" action="/insumo/busca_insumo" method="POST" enctype="multipart/form-data">
                    Descrição:
                    <div class="input-group">
                        <input type="text" class="form-control" id="buscadescricao" name="buscadescricao" value="{$buscadescricao|default:''}" >
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="submit">Buscar</button>
                            <br>
                            <br>
                        </span>          
                    </div>
                </form>
            </div>
        </div>
        <br>
        <a class="btn btn-primary" href="/insumo/novo_insumo"> Novo Insumo</a>
        <br>       
        <br>
        <br>
        <table class="table table-striped" border="1">
            <thead>
                <tr>
                    <th>Código</th>
                    <th>Nome do Insumo</th>
                    <th>Grupo</th>
                    <th>Marca</th>
                    <th>Modelo</th>
                    <th>Numero Série</th>
                    <th>Qtde Estoque</th>
                    <th>Ação</th>
                </tr>
            </thead>
            <tbody>
                {foreach from=$insumo_lista item="linha"}  
                <tr>
                    <td><a href="/insumo/novo_insumo/idInsumo/{$linha.idInsumo}">{$linha.idInsumo}</a></td>
                    <td>{$linha.dsInsumo}</td> 
                    <td>{$linha.dsGrupo}</td> 
                    <td>{$linha.dsMarca}</td> 
                    <td>{$linha.dsModelo}</td> 
                    <td>{$linha.nrSerie}</td> 
                    <td>{$linha.qtEstoque}</td> 
                    <td><a class="glyphicon glyphicon-pencil" href="/insumo/novo_insumo/idInsumo/{$linha.idInsumo}">  Editar</a> |  
                        <a class="glyphicon glyphicon-trash" href="/insumo/delinsumo/idInsumo/{$linha.idInsumo}">  Excluir</a></td>
                </tr>
                {/foreach}        
            </tbody>
        </table>
        <!--Altere daqui pra cima-->
    </div>
</div>
<!-- JavaScript -->
<script src="/files/js/jquery-1.10.2.js"></script>
<script src="/files/js/bootstrap.js"></script>
{include file="comuns/footer.tpl"}
