                <table class="table">
                    <thead>
                        <tr>
                            <th>Insumo</th>
                            <th>Quantidade</th>
                            <th>Unidade</th>
                            <th>Valor Unitário</th>
                            <th>Valor Total</th>
                            <th>Observacao</th>
                            <th>Ação</th>
                        </tr>
                    </thead>
                    <tbody>
                        {foreach from=$lista_servicoinsumos item="linha"}  
                            <tr>
                                <td>{$linha.dsInsumo|default:''}</td> 
                                <td>{$linha.qtInsumo|default:''}</td> 
                                <td>{$linha.dsUnidade|default:''}</td> 
                                <td>R$ {$linha.vlUnitario|default:''}</td> 
                                <td>R$ {$linha.vlTotal|default:''}</td> 
                                <td>{$linha.dsObservacao|default:''}</td> 
                                <td> 
                                    <a class="glyphicon glyphicon-trash" title ="Excluir" onclick="delinsumo({$linha.idServicoInsumos});" > Excluir </a>
                                </td>
                            </tr>
                        {/foreach}        
                    </tbody>
                </table>

