<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    </head>
    <body>
        <div>
            <h1>Relatorio de Origem da Informacao</h1>
            <h2>{$titulo_relatorio}</h2>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Descrição</th>
                    </tr>
                </thead>
                <tbody>
                    {foreach from=$sorigeminformacao_lista item="linha"}
                    <tr>
                        <td>{$linha.idOrigemInformacao}</td>
                        <td>{$linha.dsOrigemInformacao}</td>                        
                    </tr>
                    {foreachelse}
                    <tr><td colspan="6">Nenhum registro encontrado</td></tr>
                    {/foreach}        
                </tbody>
            </table>
        </div>
    </body>
</html>
