
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="shortcut icon" href="/files/images/logopng.png">

        <title>Produção - login</title>

        <!-- Bootstrap core CSS -->
        <link href="/files/css/bootstrap.min.css" rel="stylesheet">

        <!-- Custom styles for this template -->
        <link href="/files/css/signin.css" rel="stylesheet">
        <script src="/files/js/jquery-1.10.2.js"></script>
        <script src="/files/js/login/login.js"></script>

        <!-- Just for debugging purposes. Don't actually copy this line! -->
        <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>

    <body>        

        <div class="container">

            <div id="div-aviso" hidden>
                <div class="alert alert-danger alert-dismissable">
                    <br>Seu navegador <b><span id="navegador">'não detectado'</span></b> não é indicado para acesso ao Portal. 
                    Por favor, utilize Google Chrome ou FireFox para melhor visualização.<br><br>
                </div>
            </div>  

            <form class="form-signin" role="form" action="/login/logar/" method="POST" enctype="multipart/form-data">

                <h4 class="form-signin-heading">Entre com seus dados de acesso:</h4>

                <input type="email" class="form-control" placeholder="email" name="email" required autofocus>
                <input type="password" class="form-control" placeholder="password" name="password"  required>

                {if isset($mensagem) && $mensagem neq ''}
                <div class="alert alert-danger">{$mensagem}</div>
                {/if}

                <label class="checkbox">
                    <input type="checkbox" value="lembrar senha" />
                    Lembrar senha
                </label>

                <button class="btn btn-lg btn-success-outline btn-block" type="submit">Entrar</button>
<!--                <button class="btn btn-lg btn-primary btn-block" type="submit">Entrar</button>-->

            </form>

        </div> <!-- /container -->

        {if $site_producao}
        <script>
            (function (i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r;
                i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date();
                a = s.createElement(o),
                        m = s.getElementsByTagName(o)[0];
                a.async = 1;
                a.src = g;
                m.parentNode.insertBefore(a, m)
            })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
            ga('create', 'UA-65346259-3', 'auto');
            ga('send', 'pageview');

        </script>
        {/if}

    </body>
</html>
