        <!--Altere daqui pra baixo-->
        <h3>Lista de insumos digitados nesta entrada de estoque:</h3>
        <br>
        <table class="table table-striped" border="1">
            <thead>
                <tr>
<!--                    <th>Sequencia</th>-->
                    <th>Código</th>
                    <th>Nome do Insumo</th>
                    <th>Grupo</th>
                    <th>Quantidade</th>
                    <th>Valor Unitário</th>
                    <th>Valor Total</th>
<!--                    <th>Ação</th>-->
                </tr>
            </thead>
            <tbody>
                {foreach from=$movimentoitens item="linha"}  
                <tr>
<!--                    <td>{$linha.idMovimentoItem|default:''}</td>-->
                    <td>{$linha.idInsumo|default:''}</td>
                    <td>{$linha.dsInsumo|default:''}</td> 
                    <td>{$linha.dsGrupo|default:''}</td> 
                    <td>{$linha.qtMovimento|default:''}</td> 
                    <td>R$ {$linha.vlUnitario|default:''}</td> 
                    <td>R$ {$linha.vlMovimento|default:''}</td> 
<!--                    <td>
                        <a class="glyphicon glyphicon-trash" onclick="entradaestoque.delmovimentoitem({$linha.idMovimentoItem});">  Excluir</a>
                    </td>-->
                </tr>
                {/foreach}        
            </tbody>
            <tfoot>
                <tr>
<!--                    <td></td>-->
                    <td></td>
                    <td><strong>Valor Total desta Entrada:</strong></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><strong>R$ {$totalmovimento|default:''} </strong></td>
                </tr>
            </tfoot>
        </table>
        <!--Altere daqui pra cima-->
